<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <h2>Lab 9 - Please click the images to see the function.</h2>
</head>
<body>
<div id="pics">
  <div id="upperpics">
    <a href="images/:1"><div id="upperpic"><img src="1.png"></div></a>
    <a href="images/:2"><div id="upperpic"><img src="2.png"></div></a>
    <a href="images/:3"><div id="upperpic"><img src="3.png"></div></a>
  </div>
  <div id="lowerpics">
    <a href="images/:4"><div id="lowerpic"><img src="4.png"></div></a>
    <a href="images/:5"><div id="lowerpic"><img src="5.png"></div></a>
    <a href="images/:5"><div id="lowerpic"><img src="6.png"></div></a>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="index.css">
</body>
</html>