<!DOCTYPE html>
<html>
<head>
	<title>Picture <%= number %></title>
	<h2>Picture <%= number %></h2>
</head>
<body>
<div id='thebody'>
<button onclick="location.href = '/home';">Back to home page</button>
<div id='piccontainer'>
	<img src="/<%=number%>.png">
</div>
<link rel="stylesheet" type="text/css" href="/pic.css">
</div>
</body>
</html>